$carousel-height: 600px;
$carousel-mobile-height: 350px;

.carousel,
.hero {
  &-item {
    position: relative;
    width: 100%;
    height: $carousel-height;
    transition-duration: 250ms;
    transition-property: opacity, height;
    transition-timing-function: $mdc-animation-standard-curve-timing-function;
    background-position: center center;
    background-size: cover;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      background: rgba($body-background-color, .25) linear-gradient(to top, $body-background-color, transparent 30%);
      content: "";
    }
  }

  &-content {
    position: absolute;
    bottom: 370px;
    width: 100%;
    color: $color-white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 1);

    &__title {
      padding: 0 15px;
      font-family: Khand, sans-serif;
      font-size: 70px;
      font-weight: bold;
      line-height: 1.1;
      text-transform: uppercase;
    }

    &__caption {
      padding: 0 15px;
      font-size: 18px;
      line-height: 1.7;
    }

    @include media-breakpoint-down(sm) {
      bottom: 340px;

      &__title {
        font-size: 50px;
      }
    }
  }
}

.carousel {
  height: $carousel-height;

  .flickity-slider {
    // Prevents flickity transform3D flickering
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &-item {
    opacity: 0;

    &.flickity-bg-lazyloaded {
      opacity: 1;
    }
  }

  &-content {
    @include media-breakpoint-down(sm) {
      bottom: 250px;
    }
  }
}

.hero {
  position: relative;
  height: 400px;

  &-nudge {
    height: 448px;

    .hero-item,
    .hero-bg {
      height: 648px;
      transition: height 250ms $mdc-animation-standard-curve-timing-function;
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: $carousel-height;
    animation: fade-in 200ms linear;
    background-position: center center;
    background-size: cover;

    &[data-page="apply"] {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/heroes/kaldorei.jpg");
    }

    &[data-page="forums"] {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/1604436/backgrounds/nazmir.jpg");
    }

    &[data-page="roster"] {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/heroes/zuldazar_art-compressor.jpg");
    }
  }
}
