$carousel-height: 600px;
$carousel-mobile-height: 350px;

.carousel {
  height: $carousel-height;
  overflow: hidden;

  .flickity-slider {
    // Prevents flickity transform3D flickering
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.hero {
  position: relative;

  &-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fade-in 200ms linear;
    background-position: center center;
    background-size: cover;

    // &[data-unloaded] {
    //   display: none;
    // }

    &[data-page="system"] {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/heroes/darkportal-compressor.jpg");
    }

    &[data-page="about"] {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/1604436/backgrounds/zandalar_compressed.jpg");
    }

    &[data-page="apply"] {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/heroes/kaldorei.jpg");
    }

    &[data-page="forums"] {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/1604436/backgrounds/nazmir.jpg");
    }

    &[data-page="roster"] {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/heroes/zuldazar_art-compressor.jpg");
    }
  }
}

.carousel-item {
  transition: opacity .4s $mdc-animation-standard-curve-timing-function;
  opacity: 0;

  &.flickity-bg-lazyloaded {
    opacity: 1;
  }
}

.carousel,
.hero {
  &-item {
    width: 100%;
    height: $carousel-height;
    background-position: center center;
    background-size: cover;

    &::before {
      @include scrim-gradient("to top", $body-background-color);

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50%;
      content: "";
    }
  }

  &-content {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;

    &__title {
      margin-bottom: 10px;
      padding: 0 15px;
      color: $color-white;
      font-family: Khand, sans-serif;
      font-size: 56px;
      font-weight: bold;
      line-height: 1.1;
      text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
      text-transform: uppercase;
    }

    &__caption {
      display: block;
      padding: 0 15px;
      color: $color-white;
      font-size: 18px;
      line-height: 1.7;
      text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    }

    @include media-breakpoint-down(sm) {
      &__title {
        font-size: 45px;
      }
    }
  }
}
