@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

.mdc-drawer--temporary {
  &.mdc-drawer {
    .mdc-drawer__header {
      &-content {
        align-items: center;
      }
      &::before {
        padding-top: 30%;
      }
    }
  }
}

.mdc-drawer__content {
  .mdc-list-item {
    align-items: center;
    justify-content: center;
    font-family: Khand, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color .3s $mdc-animation-standard-curve-timing-function;
    border-bottom: $module-border;
  }
}

.mdc-drawer {
  &__header {
    &-content {
      justify-content: center;
      transition: text-shadow .4s $mdc-animation-standard-curve-timing-function;
      font-family: Khand, sans-serif;
      font-size: 35px;
      font-weight: bold;
      line-height: .9;
      text-transform: uppercase;

      &:hover {
        text-shadow: 6px 4px 3px rgba($mdc-theme-secondary, .5);
      }
    }
  }
}
