@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

.mdc-drawer {
  background-color: $mdc-theme-primary;

  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .mdc-list-item {
    font-weight: bold;

    &--activated {
      background-color: rgba($mdc-theme-secondary, .5);
    }
  }
}
