// Hide the Enjin footer we can't remove.
#page-footer {
  display: none;
}

.footer {
  height: 100%;
  padding-top: 50px;
  background-color: darken($mdc-theme-background, 2%);
  overflow: visible;

  .flex-container {
    padding: 0 15px;
  }

  &__background {
    margin-top: -90px;
    box-shadow: 0 0 6px rgba(0,0,0,0.45);
  }

  &-block--title {
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
  }

  &-block--padded {
    padding: 20px;
  }

  &__logo {
    text-align: center;
  }

  &-list {
    padding: 0 !important;
    list-style: none !important;

    a {
      color: #b2b2b2;
    }
  }

  &__top {
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: 1.7fr 1fr 1fr 1fr 1.7fr;
    background-color: $module-body-background;
    // overflow: hidden;
  }

  &__description {
    color: #b2b2b2;
    font-size: 14px;
    line-height: 1.5;

    &--info {
      display: block;
      word-spacing: 8px;
    }
  }

  &__bottom {
    display: grid;
    margin-bottom: 50px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    background-color: darken($module-body-background, 3%);

    a {
      margin-right: 5px;
    }

    &--right {
      align-self: flex-end;
      text-align: right;
    }
  }
}

.footer-links {
  margin-left: auto;
}

.page-footer {
  position: relative;
  background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/zeppelin.jpg");
  background-position: bottom center;
  background-size: cover;

  &__gradient {
    background: linear-gradient(to top, rgba($body-background-color, .7), $body-background-color);
  }

  &__text {
    display: flex;
    padding: 0 20px;
    color: lighten($body-background-color, 85%);
    font-family: "Roboto Mono", sans-serif;
    font-size: 14px;
    text-align: center;

    &--right {
      justify-content: flex-end;
    }

    @include media-breakpoint-down(sm) {
      justify-content: space-between;
      margin-bottom: 5px;
    }
  }

  &__top {
    margin-top: 80px;
    margin-bottom: 30px;
    z-index: 100;

    .page-footer__logo {
      margin-bottom: 15px;
      text-align: center;
    }

    .list-unstyled {
      padding-top: 20px;
      padding-bottom: 20px;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
      }

      a {
        padding: 10px;
        transition: color .3s ease-in-out;
        color: lighten($mdc-theme-secondary, 45%);
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $mdc-theme-secondary;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: $body-background-color;
  }

  .creator {
    margin-right: 25px;
  }

  .enjin-platform {
    &__link {
      color: $mdc-theme-secondary;
    }
  }
}
