// Hide the Enjin footer since it's ugly.
#page-footer {
  display: none;
}

.footer {
  height: 100%;
  padding-top: 50px;
  background-color: darken($mdc-theme-background, 2%);
  overflow: visible;

  .flex-container {
    padding: 0 15px;
  }

  &__background {
    margin-top: -90px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .45);
  }

  &-block--title {
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: bold;
  }

  &-block--padded {
    padding: 20px;
  }

  &__logo {
    text-align: center;
  }

  &-list {
    padding: 0 !important;
    list-style: none !important;

    a {
      color: #b2b2b2;
    }
  }

  &__top {
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: 1.7fr 1fr 1fr 1fr 1.7fr;
    background-color: $module-body-background;
  }

  &__description {
    color: #b2b2b2;
    font-size: 14px;
    line-height: 1.5;

    &--info {
      display: block;
      word-spacing: 8px;
    }
  }

  &__bottom {
    display: grid;
    margin-bottom: 50px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    background-color: darken($module-body-background, 3%);

    a {
      margin-right: 5px;
    }

    &--right {
      align-self: flex-end;
      text-align: right;
    }
  }

  @include media-breakpoint-down(md) {
    &-block--padded {
      background-color: $mdc-theme-secondary;
    }

    &-nav {
      display: none;
    }

    &__top {
      grid-template-columns: 1fr;
    }
  }
}

.footer-links {
  margin-left: auto;
}
