@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/button/mdc-button";

#registered-menu[data-admin="False"] {
  .admin-button {
    display: none;
  }
}

.mdc-menu {
  min-width: 140px;
  background-color: lighten($mdc-theme-primary, 3%);

  .mdc-list-divider {
    border-bottom: 2px solid lighten($mdc-theme-primary, 9%);
    list-style: none;
  }

  .mdc-list-item {
    padding: 0;

    &:hover {
      background-color: darken($mdc-theme-secondary, 10%);
    }

    // Temporary until lists actually use links?
    a {
      width: 100%;
      padding: 0 16px;
      color: #fff;
      line-height: 48px;
      text-align: left;
    }

    .join-us {
      animation: text-glow 1s $mdc-animation-standard-curve-timing-function infinite alternate;
    }

    &.list-item-nopad {
      height: 55px;
      background-color: lighten($mdc-theme-primary, 8%);

      .menu-header {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 15px;
      }
    }
  }
}

@keyframes text-glow {
  0% {
    text-shadow: 0 0 10px $mdc-theme-secondary;
  }

  100% {
    text-shadow: 0 0 10px $mdc-theme-secondary, 0 0 20px $mdc-theme-secondary, 0 0 35px $mdc-theme-secondary;
  }
}
