@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
// @import "@material/tabs/mdc-tabs";

.header-logo {
  display: inline-flex;
  animation: slide-in-from-left 450ms $mdc-animation-standard-curve-timing-function;

  &--text {
    transition: text-shadow .4s $mdc-animation-standard-curve-timing-function;
    color: #fff;
    font-family: Khand, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      text-shadow: 6px 4px 3px rgba($mdc-theme-secondary, .5);
    }
  }

  &__small {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    &__large {
      display: none;
    }

    &__small {
      display: block;
    }
  }
}

.mdc-top-app-bar {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);

  &__row {
    .mdc-tab-bar {
      @include media-breakpoint-down(md) {
        display: none;
      }

      .mdc-tab {
        @include mdc-theme-prop(color, on-primary);

        min-width: 82px;
        padding: 0 10px;

        .mdc-tab__text-label {
          opacity: 1;
          font-family: Khand, sans-serif;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: .25px;
          text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
        }

        &--active {
          background-color: darken($mdc-theme-primary, 3%);

          .mdc-tab__text-label {
            color: $mdc-theme-secondary;
          }
        }
      }

      .mdc-tab-indicator__content--underline {
        background-color: $mdc-theme-secondary !important;
      }
    }
  }

  &__section--align-start {
    width: 400px;
  }

  &.mdc-top-app-bar--fixed-scrolled {
    .mdc-top-app-bar__row {
      height: $toolbar-height - 25px;
    }
  }

  & &__navigation-icon {
    @include media-breakpoint-down(md) {
      display: block;
    }

    display: none;
    text-decoration: none;
  }

  // A bit of a hack to achieve right-aligned menu.
  .user-menu {
    min-width: 140px;
    margin-left: 39px;
    text-align: right;

    &__button {
      @include mdc-theme-prop(color, on-primary);

      color: #fff !important;
      font-family: Khand, sans-serif;
      font-size: 16px;
      font-weight: bold;
    }

    &__avatar {
      @include mdc-ripple-surface;
      @include mdc-ripple-radius-bounded;
      @include mdc-states;

      width: 36px;
      height: 36px;
      border-radius: 50%;
    }

    &__img {
      border-radius: 50%;
    }

    &__slide {
      animation: fade-in 200ms $mdc-animation-standard-curve-timing-function;
    }
  }
}
