@import "@material/theme/mdc-theme";
@import "@material/snackbar/mdc-snackbar";
// @import "@material/textfield/mdc-text-field";

.mdc-line-ripple {
  background-color: $mdc-theme-secondary;
}

.mdc-snackbar {
  z-index: 500;
}

body {
  a,
  a:link,
  a:hover,
  a:focus,
  a:active,
  a:visited {
    text-decoration: none;
  }
}

p {
  margin: 0 0 $paragraph-margin-bottom;
}

#site-body {
  color: $text-ongrey;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 22px;
}

::selection {
  background: $mdc-theme-secondary;
}

%material-icon {
  display: inline-block;
  font-family: "Material Icons", sans-serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
}

// https://github.com/Angelmmiguel/material_icons/blob/master/app/assets/stylesheets/material_icons_unicode.css.erb
// List of Unicode characters, since Edge sucks.

.fa {
  // @extend %material-icon;
  &::before {
    @extend %material-icon;
  }

  &.fa-check-circle {
    &::before {
      content: "check_circle" !important;
    }
  }
  &.fa-user,
  &.fa-globe {
    &::before {
      content: "person_pin" !important;
    }
  }

  &.fa-heart {
    &::before {
      content: "star" !important;
    }
  }

  &.fa-comment-o,
  &.fa-comment {
    &::before {
      content: "comment" !important;
    }
  }

  &.fa-times-circle,
  &.fa-remove,
  &.fa-times {
    &::before {
      content: "close" !important;
    }
  }

  &.fa-envelope {
    &::before {
      content: "\e0e6" !important;
    }
  }

  &.fa-bell {
    &::before {
      content: "\e7f4" !important;
    }
  }

  &.fa-users {
    &::before {
      content: "\e853" !important;
    }
  }

  &.fa-file-text-o {
    &::before {
      content: "description" !important;
    }
  }

  &.fa-trash {
    &::before {
      content: "delete" !important;
    }
  }
}

body {
  background-color: $body-background-color !important;
}

.clinton {
  transition: opacity 2s ease;
  transition: text-shadow 2s ease;
  opacity: 0;

  &:hover {
    opacity: 1;
    text-shadow: 6px 4px 3px rgba($mdc-theme-secondary, .5);
  }
}
