.wowhead-tooltip[data-visible="yes"] {
  animation: fade-in 100ms ease-in;

  p {
    top: 0;
    left: -50px;
    width: auto;
    height: auto;
    background: 0 0 no-repeat;
    background-size: cover;
    box-shadow: $module-shadow;

    div {
      border: 1px solid #000;
      background-image: none !important;
    }
  }

  > table {
    border: 1px solid #000 !important;
    background: rgba($mdc-theme-primary, .9);
  }

  th,
  td {
    background-image: none;
    font-family: Roboto, sans-serif;
  }
}
