#enjin-bar,
.container_spacer {
  display: none;
}

.body-wrap-3 {
  min-width: inherit !important;
  overflow-x: initial !important;
}

#page {
  min-width: inherit !important;
  max-width: inherit !important;
}

#site-body {
  > div:nth-child(2) {
    @extend .flex-container;

    transform: translateY(-120px);

    #section-main {
      &.section-holder {
        padding-right: $content-padding;
        padding-left: $content-padding;
      }
    }

    // Don't add extra padding to sidebar inside.
    #section-left,
    #section-right {
      &.section-holder {
        padding-right: $content-padding;
        padding-left: $content-padding;

        @include media-breakpoint-up(lg) {
          padding-left: 0;
        }
      }
    }
  }
}

.section-width-large {
  @extend .col;
}

.section-width-small,
.section-width-medium {
  @extend .col-lg-#{$enjin-sidebar-columns};
  @extend .col-12;
}

.section-collection {
  display: block;

  > tbody {
    display: block;
  }

  .top {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .section-divider,
  .section-border {
    display: none;
  }

  .section {
    padding: 0;
  }
}

.container {
  width: 100%;

  .container_left,
  .container_right {
    display: none;
  }

  .container_content {
    background-color: transparent;

    .container_table {
      .container_table_row,
      .container_column {
        display: block;
      }

      > tr,
      > td {
        display: block;
      }
    }
  }
}
