@import "@material/textfield/mdc-text-field";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/elevation/mdc-elevation";

$icon-size: 40px;

.dashboard-navbar {
  height: 0;
  transition: height 350ms $mdc-animation-standard-curve-timing-function;
  overflow: hidden;
  will-change: height;

  &.show {
    height: 48px;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// The menu is hoisted.
.app-meta-select {
  width: 200px;

  .mdc-list-item {
    padding: 0 0 0 15px;
  }
}

.app-meta {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  margin-top: -66px;
  margin-bottom: 10px;
  grid-template-columns: auto auto;

  & &-select {
    margin-left: 15px;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    border: 0;
    border-radius: 0;

    &:not(.mdc-select--disabled) {
      background-color: $mdc-theme-primary;

      .mdc-select__selected-text {
        border-bottom-color: transparent;
      }

      &.mdc-select--focused {
        .mdc-floating-label {
          color: $text-ongrey;
        }

        .mdc-line-ripple {
          background-color: $mdc-theme-secondary;
        }
      }
    }

    &:hover {
      box-shadow:
        rgba(0, 0, 0, .2) 0 2px 4px -1px,
        rgba(24, 15, 15, .14) 0 4px 5px 0,
        rgba(0, 0, 0, .12) 0 1px 10px 0;
    }
  }

  &-pagination {
    display: none;
    align-items: center;
    justify-content: center;
    height: 56px;
    padding: 0 10px 0 20px;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    background-color: $mdc-theme-primary;
    line-height: 56px;

    &.active {
      display: flex;
      animation: slide-in-left 250ms cubic-bezier(.4, 0, .2, 1);
    }

    &__text {
      min-width: 75px;
      margin-right: 10px;
      padding: 0 5px;
    }

    &:hover {
      box-shadow:
        rgba(0, 0, 0, .2) 0 2px 4px -1px,
        rgba(24, 15, 15, .14) 0 4px 5px 0,
        rgba(0, 0, 0, .12) 0 1px 10px 0;
    }

    .mdc-icon-button {
      width: 25px;
      padding: 0;

      &:disabled {
        color: darken(#fff, 50%);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;

    &.mobile-grow {
      grid-template-columns: 1fr;
    }

    &-pagination {
      padding: 0 10px;

      &__text {
        margin-right: 5px;
      }
    }

    .app-meta-select {
      width: auto;
      margin-left: 0;
    }
  }
}

.module_content_wrap {
  .v2_system_dashboard {
    padding: 0 !important;
    background-color: transparent;

    .dashboard_menu {
      display: none;
      // display: flex !important;
      // flex-wrap: wrap;
      // align-content: center;
      // justify-content: center;
      // width: inherit !important;
      // float: none !important;
      // background-color: $module-header-background;

      // &.v2_sticky {
      //   position: inherit;
      //   top: inherit;
      // }

      // .menu_alert {
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   width: 18px;
      //   height: 18px;
      //   margin: 0;
      //   border-radius: 50%;
      //   background-color: $mdc-theme-secondary;
      //   font-family: "Roboto Mono", sans-serif;
      //   font-size: 11px;
      //   line-height: 18px;
      // }

      // .menu_link {
      //   @include mdc-ripple-surface;
      //   @include mdc-ripple-radius-bounded;
      //   @include mdc-states;

      //   @include media-breakpoint-down(lg) {
      //     padding: 0 16px;
      //   }

      //   &[data-href-default="/dashboard/communities"],
      //   &[data-href-default="/dashboard/recruitment"] {
      //     display: none !important;
      //   }

      //   display: table-cell !important;
      //   // The ripple causes problems without relative positioning.
      //   position: relative;
      //   min-width: 85px;
      //   height: auto !important;
      //   padding: 0 24px;
      //   color: $color-white;
      //   font-family: Khand, sans-serif;
      //   font-size: 16px;
      //   font-weight: bold;
      //   line-height: 50px;
      //   text-transform: uppercase;
      //   overflow: hidden;

      //   &.menu_selected {
      //     border-bottom: 2px solid $mdc-theme-secondary;
      //   }

      //   &.hide {
      //     display: none !important;
      //   }
      // }

      // .menu_icon {
      //   display: none !important;
      // }
    }

    .menu_arrow {
      display: none !important;
    }

    .middle {
      margin-left: 0 !important;
      border: 0;
      background-color: transparent !important;
    }

    .applications {
      display: flex;
      flex-direction: column;
      font-size: inherit;
      overflow: visible;

      // Aesthetical override, do not remove.
      .form-wow-answer {
        .form-question-title {
          display: none;
        }

        .form-question-body {
          .character_list {
            display: none;
          }
        }
      }

      .app_header {
        display: none !important;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        // justify-content: center;
        // order: 2;
        // height: auto;
        // padding: 0;
        // background-color: $module-body-background-light;

        // &_initialized {
        //   display: flex;
        //   animation: fade-in 250ms $mdc-animation-standard-curve-timing-function;
        // }

        // &_tab {
        //   // Prevents "Trash" snapping in.
        //   min-width: 79px;
        //   min-height: 1px;
        //   margin-right: 0;
        //   padding: 0 20px;
        //   color: $text-ongrey;
        //   font-family: "Roboto Mono", sans-serif;
        //   font-size: 13px;

        //   .fa {
        //     display: none;
        //   }
        // }

        // &_total {
        //   display: none;
        // }
      }

      .app_sidebar {
        order: 1;
        width: auto;
        float: none;

        &_search,
        &_folder,
        &_read {
          display: none;
        }

        &_bulk {
          display: none;
        }

        &_block {
          @include mdc-ripple-surface;
          @include mdc-ripple-radius-bounded;
          @include mdc-states;

          display: flex;
          position: relative;
          align-items: center;
          height: 80px;
          overflow: hidden;

          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              animation: fade-in #{$i * .1}s ease;
            }
          }

          &_apps_chunk {
            display: grid;
            padding: 5px 0;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 5px;

            @include media-breakpoint-down(lg) {
              grid-template-columns: repeat(3, 1fr);
            }

            @include media-breakpoint-down(md) {
              grid-template-columns: repeat(3, 1fr);
            }

            @include media-breakpoint-down(sm) {
              grid-template-columns: repeat(2, 1fr);
            }

            @include media-breakpoint-down(xs) {
              grid-template-columns: repeat(1, 1fr);
            }
          }

          &_search_found,
          &_search_empty {
            display: none;
          }

          .app_user {
            &_avatar {
              width: 43px;
              height: 43px;
              margin: 0 15px 0 0;
              border-radius: 50%;
              background: $mdc-theme-secondary;
            }

            &_details {
              width: calc(100% - 58px);
              margin-left: 0;
              overflow: visible;
            }

            &_name {
              color: $text-ongrey;
              font-size: 16px;
              font-weight: bold;
              text-shadow: 0 0 3px rgba(0, 0, 0, .5);
            }

            &_date {
              color: $text-ongrey;
              font-family: "Roboto Mono", sans-serif;
              font-size: 11px;
              font-weight: normal;
              text-shadow: initial;
            }

            &_text {
              .fa {
                display: none;
              }
            }
          }

          &.read {
            background-color: $mdc-theme-primary;
          }

          &.unread {
            background-color: $mdc-theme-secondary;

            .app_user_name {
              color: $text-ongrey;
            }

            .app_user_avatar {
              box-shadow: 0 0 0 3px $mdc-theme-primary;
            }

            .app_user_text {
              color: $text-ongrey;

              &::before {
                content: "Unread";
              }
            }
          }

          &.selected {
            border: 0;
            background-color: rgba($mdc-theme-secondary, 1);

            .app_user_name {
              color: $text-ongrey;
            }

            .app_user_text {
              color: $text-ongrey;
              font-weight: normal;
            }
          }
        }

        .app_results_none {
          background-color: $mdc-theme-secondary;
        }
      }

      .app_inner {
        order: 3;
        margin-left: 0;

        &_title {
          margin-top: 20px;
          background-color: $module-body-background;
        }

        &_user {
          display: grid;
          grid-template-columns: auto 1fr 1fr;

          .app_header_user_meta {
            order: 2;
          }
        }

        &_header {
          color: $text-ongrey;
          font-size: 16px;
        }

        &_empty {
          background-color: $mdc-theme-primary;
        }

        &_actions {
          .app_inner_action_button {
            @extend .mdc-button;
            @extend .mdc-button--raised;

            .fa {
              display: none;
            }
          }
        }

        .app_header_user_ip {
          display: none;
        }

        .app-meta__last-seen {
          animation: fade-in 250ms linear;
        }
      }

      .app_inner_output_container {
        padding: 0;

        > div {
          max-width: initial;

          &:not(.form-question) {
            height: 50px;
            margin-top: $module-margin * 3;
            background-color: $module-body-background-light;

            .element_title {
              height: 100%;
              margin-bottom: 0;
              background-color: initial;
              line-height: 50px;
            }
          }
        }

        .form-question {
          padding: $module-margin * 2;
          border-top-color: $mdc-theme-primary;
          background-color: $module-body-background;
          word-break: break-word;
        }

        .form-question-title {
          color: #fff;
          font-size: 16px;
          font-weight: bold !important;
        }

        .appform-item {
          .images {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-template-rows: minmax(150px, auto);

            .item-image {
              display: flex;
              align-items: top;
              justify-content: center;
              height: 300px;
              margin: 0;
              padding: 0;
              border: 3px solid $module-body-background-light;
              overflow: hidden;
            }

            a {
              width: 100%;
            }

            img {
              object-fit: cover;
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .activity {
      background-color: $mdc-theme-primary;

      @include media-breakpoint-down(md) {
        display: flex;
        flex-wrap: wrap;

        .filter_container {
          flex-basis: 100%;
        }

        .content_middle {
          flex-basis: 100%;
          margin-left: 0;
          border: 0 !important;
        }
      }

      .filter_container {
        border: 0 !important;
      }

      .content_middle {
        border-left: 2px solid lighten($mdc-theme-primary, 5%);
      }

      .content_middle_inner {
        border: 0 !important;
      }
    }

    .messages {
      font-size: inherit;

      .message_header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 50px;
        padding: 0;
        background-color: $module-body-background-light;

        @include media-breakpoint-down(sm) {
          height: 100px;
        }

        &_tab {
          display: flex;
          align-items: center;
          margin-right: 0;
          padding: 0 10px;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 16px;
          font-weight: bold;
  
          &.active {
            border-bottom: 2px solid $mdc-theme-secondary;
            background-color: darken($module-body-background-light, 3%);
          }

          .fa {
            font-size: inherit;
            line-height: initial;
          }
        }
        
        &_text {
          margin-left: 21px;
        }

        &_total {
          width: 16px;
          margin: 0 0 0 5px;
          background-color: $mdc-theme-secondary;
        }

        &_actions {
          display: flex;
          margin-left: auto;
        }

        .fa-caret-down {
          display: none;
        }
      }

      .message_sidebar {
        width: auto;
        float: none;
        background-color: $mdc-theme-primary;
        box-shadow: $module-shadow;

        &_search.input_text {
        }

        &_block {
          height: auto;
        }

        &_block_msgs_chunk {
          display: grid;
          grid-template-columns: repeat(4, 1fr);

          @include media-breakpoint-down(md) {
            grid-template-columns: repeat(2, 1fr);
          }

          @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }

      .message_inner {
        margin-left: auto;

        &_title {
          background-color: $mdc-theme-primary;
          // box-shadow: $module-shadow;
          // margin-top: $module-margin * 2.5;
          margin-bottom: 15px;
        }

        &_user_block {
          margin: 0 0 10px 0;
          padding: 20px 15px;
          border: 0;
          background-color: $mdc-theme-primary;

          &:last-child {
            margin-bottom: 15px;
          }
        }

        &_write {
          padding: 0;
          background-color: $mdc-theme-primary;
        }
      }
    }
  }
}

.app_comments_header {
  display: none;
}

.app_comments_container {
  .v2_system_social {
    .wall {
      .post {
        padding: 0;
      }

      .comments {
        padding: 0 !important;
      }

      .comments_record_block,
      .comments_post_container {
        margin-top: 10px;
        padding: 20px 15px !important;
        border-bottom: none;
        background-color: $mdc-theme-primary;
        box-shadow: $module-shadow;
      }

      .comments_record,
      .comments_reply_container {
        display: flex;

        &::after {
          clear: both;
        }
      }

      .comments_post_container {
        flex-wrap: wrap;

        .element_avatar {
          flex: 0 0 58px;
          border-radius: 0;

          img {
            border-radius: 50%;
          }
        }

        .comments_post {
          flex: 1;
          margin-left: 0;
        }

        .comments_reply_buttons {
          flex: 1 1 100%;
        }
      }

      .comments_post_reply {
        transition: border-color .3s $mdc-animation-standard-curve-timing-function, height .5s $mdc-animation-standard-curve-timing-function;
        border-bottom: 2px solid lighten($mdc-theme-primary, 20%);
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        background-color: lighten($mdc-theme-primary, 10%);

        &.comments_post_empty_emogif {
          border-bottom-color: $mdc-theme-secondary;
        }

        .comments_reply_input {
          min-height: 90px;
          padding: 15px;
          resize: vertical !important;
          font-family: inherit;
        }
      }

      .element_avatar {
        flex: 0 0 43px;
        margin-top: 0;
        float: none !important;

        img {
          width: 43px;
          height: 43px;
          border-radius: 50%;
        }
      }

      .comments_comment,
      .comments_post {
        flex: 1 1 100%;
        margin-left: 15px;
      }

      .comments_message {
        word-break: break-word;
      }

      .comments_footer {
        color: shade($text-ongrey, 15%);
        font-size: 12px;
      }

      .comments_interact {
        animation: fade-in 250ms $mdc-animation-standard-curve-timing-function;

        @include media-breakpoint-down(sm) {
          display: inline-block !important;
        }
      }

      .comments_like_total {
        color: $mdc-theme-secondary;
        font-weight: inherit;
      }
    }
  }
}

.character {
  display: grid;
  position: relative;
  padding: 10px 15px 10px 5px;
  grid-template-columns: 180px 1fr 1fr 1fr;
  border-left: 5px solid;
  border-radius: 3px;
  background: $module-body-background-light;
  color: $text-ongrey;
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }

  &::after {
    position: absolute;
    align-self: center;
    width: 100%;
    height: 100%;
    min-height: 200px;
    animation: spinny-opacity 9s ease-in-out infinite alternate;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .2;
    content: "";
    will-change: transform;
    z-index: 0;
  }

  &-loader {
    position: relative;
    height: 150px;
    animation: fade-in 350ms ease-in-out;
    transition: height 350ms ease-in-out, opacity 350ms ease-in-out;

    &::after {
      animation: spinny 9s ease-in-out infinite alternate;
      opacity: 1;
    }

    &.leaving {
      height: 0;
      opacity: 0;
    }

    &::before {
      position: absolute;
      font-size: 20px;
      font-weight: bold;
      text-shadow: 0 0 5px #000;
      text-transform: uppercase;
      content: "Loading";
      z-index: 5;
    }
  }

  &-info {
    display: flex;

    &__wrapper {
      align-self: center;
      width: 100%;
    }
  }

  &-header {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;

    &::after {
      display: block;
      position: relative;
      top: 5px;
      width: 100%;
      height: 5px;
      margin-bottom: 15px;
      background-color: $mdc-theme-primary;
      content: "";
    }
  }

  &-info-block {
    padding: 10px 8px;
    z-index: 5;
  }

  &-portrait {
    margin-bottom: 10px;
    text-align: center;

    &__img {
      max-width: 100%;
      height: auto;
      image-rendering: pixelated;
      border: 3px solid;
    }
  }

  &-text {
    margin-bottom: 10px;
    line-height: 1.1;
    text-align: center;
  }

  &-error {
    font-family: "Roboto Mono", sans-serif;
    font-size: 13px;
  }

  &-text__name {
    color: $text-ongrey;
    font-size: 20px;
    font-weight: bold;
  }

  @each $class, $color in $class-colors {
    &.class-#{$class} {
      border-color: $color;
      background-color: rgba($color, .2);

      .character-header {
        &::after {
          background-color: $color;
        }
      }

      .character-talents-img,
      .character-portrait__img {
        border-color: $color;
      }

      .character-dungeons--score__current-score {
        border-color: $color;
        background-color: rgba($color, .25);
      }

      .mdc-linear-progress .mdc-linear-progress__bar-inner {
        background-color: $color;
      }

      &::after {
        background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/classes/#{$class}-logo.png");
      }
    }
  }

  &-progression {
    &__raid {
      &[data-raid="the-emerald-nightmare"],
      &[data-raid="trial-of-valor"] {
        display: none;
      }

      &-title {
        margin-right: 10px;
        text-transform: capitalize;
      }
    }

    .mdc-linear-progress {
      height: 8px;
      margin-bottom: 8px;

      .mdc-linear-progress__buffer {
        background-color: $mdc-theme-primary;
      }

      .mdc-linear-progress__bar-inner {
        background-color: $mdc-theme-secondary;
      }
    }
  }

  &-dungeons {
    &--score {
      display: grid;
      padding: 10px 0;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      text-align: center;

      &__wrapper {
        display: block;
        width: 100%;
      }

      &__current {
        flex-basis: 100%;
        margin: 5px 0 10px;

        &-score {
          padding: 3px 5px;
          border: 2px solid $mdc-theme-secondary;
          background-color: rgba($mdc-theme-secondary, .25);
          font-size: 15px;
          font-weight: bold;
        }
      }

      &__title {
        width: 100%;
        font-size: 14px;
      }
    }
  }

  &-talents {
    &__talents {
      display: grid;
      grid-row-gap: 2px;
      grid-column-gap: 2px;
      grid-template-columns: repeat(7, 1fr);
    }

    &-img {
      max-width: 100%;
      height: auto;
      border: 1px solid #383a3f;
    }
  }

  &-gear {
    &-items {
      display: grid;
      grid-row-gap: 2px;
      grid-column-gap: 4px;

      @include media-breakpoint-down(xl) {
        grid-template-columns: repeat(6, 1fr);
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(8, 1fr);
      }

      @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(7, 1fr);
      }

      &-item {
        &__img {
          max-width: 100%;
          height: auto;
          border: 1px solid;
        }
      }
    }

    &__amulet {
      margin-bottom: 10px;
    }
  }

  &-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

    li {
      display: inline-block;
    }
  }

  .remove-button {
    .col-12 {
      display: flex;
      justify-content: center;
      padding: 5px 0;
    }
  }
}

.character-panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quality {
  &-color {
    &-7,
    &-8 {
      color: $item-blizzard;
    }

    &-6 {
      color: $item-artifact;
    }

    &-5 {
      color: $item-legendary;
    }

    &-4 {
      color: $item-epic;
    }

    &-3 {
      color: $item-rare;
    }

    &-2 {
      color: $item-uncommon;
    }

    &-1 {
      color: $item-common;
    }

    &-0 {
      color: $item-poor;
    }
  }

  &-border {
    &-7,
    &-8 {
      border-color: $item-blizzard;
    }

    &-6 {
      border-color: $item-artifact;
    }

    &-5 {
      border-color: $item-legendary;
    }

    &-4 {
      border-color: $item-epic;
    }

    &-3 {
      border-color: $item-rare;
    }

    &-2 {
      border-color: $item-uncommon;
    }

    &-1 {
      border-color: $item-common;
    }

    &-0 {
      border-color: $item-poor;
    }
  }
}

@keyframes text-glow-unread {
  0% { text-shadow: 0 0 10px lighten($mdc-theme-secondary, 10%); }

  100% {
    text-shadow: 0 0 10px lighten($mdc-theme-secondary, 10%), 0 0 20px lighten($mdc-theme-secondary, 10%), 0 0 35px lighten($mdc-theme-secondary, 10%);
  }
}
