.news {
  &--loader {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
  }

  &--loader__block {
    height: 200px;
    margin-bottom: 10px;
    animation: loader-pulsate 500ms infinite $mdc-animation-standard-curve-timing-function alternate;
    background: $mdc-theme-primary;
  }
}

.article {
  display: flex;
  height: 200px;
  margin-bottom: 10px;
  background-color: $mdc-theme-primary;
  box-shadow: $module-shadow;
  overflow: hidden;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform .3s;
    background-position: center center;
    background-size: cover;

    &:hover {
      transform: scale(1.2);
    }

    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #{rgba($mdc-theme-primary, .3)}, $mdc-theme-primary);
      content: "";
    }
  }

  .news-info {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-self: flex-end;
    width: 100%;
    padding: 25px;
    color: #fff;
    pointer-events: none;
    user-select: none;

    h2 {
      flex-basis: 100%;
      margin-bottom: 5px;
      font-family: Khand, sans-serif;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.1;
      text-shadow: 0 2px 5px rgba(0, 0, 0, .85);
      text-transform: uppercase;
    }

    p {
      opacity: .9;
      font-size: 15px;
      line-height: 1.4;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    }
  }
}
