.guild {
  &-ranks {
    display: grid;
    margin-bottom: 10px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &-rank {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    height: 120px;
    animation: .3s ease-in-out both fade-in;
    background-color: $mdc-theme-primary;
    color: #fff;
    text-align: center;
    box-shadow: $module-shadow;
    overflow: hidden;

    span {
      width: 100%;
      font-family: Khand, sans-serif;
      font-weight: bold;
      pointer-events: none;
      z-index: 50;
    }

    &--value {
      font-size: 1.7rem;
      line-height: 1.1;
    }

    &--title {
      font-size: 16px;
      opacity: .8;
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 300ms $mdc-animation-standard-curve-timing-function, opacity 300ms $mdc-animation-standard-curve-timing-function;
    background-position: right;
    background-size: cover;
    opacity: .6;

    &:hover {
      transform: scale(1.2);
      opacity: .9;
    }

    &__world {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/icons/azeroth.jpg");
    }

    &__region {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/icons/barrens.jpg");
    }

    &__realm {
      background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/icons/blackrock.jpg");
    }
  }
}

@keyframes loader-pulsate {
  from { background: $mdc-theme-primary; }
  to { background: lighten($mdc-theme-primary, 5%); }
}

.guild-progress {
  &__loaders {
    .loading {
      height: 150px;
      margin-bottom: 10px;
      animation: loader-pulsate 500ms infinite $mdc-animation-standard-curve-timing-function alternate;
    }
  }

  .raid-progress {
    margin-bottom: $module-margin;
    background-color: $mdc-theme-primary;
    font-family: Khand, sans-serif;
    overflow: hidden;

    &[data-raid="antorus-the-burning-throne"] {
      &::before {
        background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/banner_antorus.jpg");
      }
    }

    &[data-raid="uldir"] {
      &::before {
        background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/banner_uldir.jpg");
      }
    }

    &[data-raid="battle-of-dazaralor"] {
      &::before {
        background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/banner_dazaralor.jpg");
      }
    }

    &::before {
      position: absolute;
      width: 110%;
      height: 110%;
      margin-left: -15px;
      transition: transform 300ms $mdc-animation-standard-curve-timing-function;
      background-position: center center;
      background-size: cover;
      content: "";
    }

    &:hover {
      &::before {
        transform: translateX(10px);
      }
    }

    .flex-row {
      align-items: flex-end;

      &::before {
        position: absolute;
        top: 0;
        right: -5px;
        bottom: 0;
        left: -5px;
        background:
          linear-gradient(
            to top,
            $mdc-theme-primary 5%,
            rgba($mdc-theme-primary, 0)
          );
        content: "";
      }
    }

    &__summary {
      display: flex;
      justify-content: flex-end;

      &-text {
        margin: 10px 20px;
        padding: 8px 10px;
        background-color: rgba(25, 25, 25, .9);
        color: lighten($mdc-theme-secondary, 80%);
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1.25px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
      }
    }
  }

  .raid-info {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 20px;

    span {
      display: block;
      text-shadow: 0 2px 5px rgba(0, 0, 0, .85);
      text-transform: uppercase;
    }

    .raid-difficulty {
      color: $mdc-theme-secondary;
      font-size: 15px;
      font-weight: bold;
    }

    .raid-name {
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.1;
    }
  }

  .progressbar {
    position: relative;
    height: 8px;
    border-top: 1px solid lighten($mdc-theme-primary, 5%);
    background-color: lighten($mdc-theme-primary, 10%);
  }

  .mdc-linear-progress__bar {
    background-color: $mdc-theme-secondary;
  }
}

.discord__bg {
  background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/sidebar/WLOP.jpg");
}

.recruitment__bg {
  background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/sidebar/recruitment.jpg");
}

.grouppay__bg {
  background-image: url("https://s3.amazonaws.com/files.enjin.com/632721/material/images/sidebar/grouppay.jpg");
}

.info-boxes {
  justify-content: space-between;
}

.discord,
.recruitment,
.grouppay {
  display: flex;
  min-height: 300px;
  margin-bottom: $module-margin;
  font-size: 15px;
  box-shadow: $module-shadow;
  overflow: hidden;

  &__bg {
    position: absolute;
    width: 110%;
    height: 110%;
    margin-left: -15px;
    transition: transform 300ms $mdc-animation-standard-curve-timing-function;
    background-position: center center;
    background-size: cover;

    &:hover {
      transform: translateX(10px);
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, #{rgba($mdc-theme-primary, .3)}, $mdc-theme-primary);
      content: "";
    }
  }

  a {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    word-break: break-word;
  }

  &__featured-text {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    padding: 1.5em 1.8em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    text-transform: uppercase;
    pointer-events: none;
  }

  h3 {
    width: 100%;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  }

  &__description {
    margin-bottom: 10px;
    animation: fade-in .7s ease-in;
    opacity: .7;
    color: lighten($mdc-theme-secondary, 80%);
    line-height: 1.4;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    text-transform: initial;
  }

  &__read-more {
    display: flex;
    align-items: center;
    width: 100%;
    color: $mdc-theme-secondary;
    font-weight: bold;

    i {
      margin-left: 5px;
      font-size: 22px;
    }
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }

  .mdc-linear-progress {
    height: auto;
    margin: 10px 0;
    box-shadow: $module-shadow;

    .grouppay__days {
      position: relative;
      padding: 2px 10px;
      color: #fff;
      font-size: 13px;
      text-shadow: 0 1px 3px #000;
      text-transform: initial;
    }

    &__buffer {
      background-color: #383a3f;
    }

    &__bar {
      &-inner {
        background-color: $mdc-theme-secondary;
      }
    }
  }
}

.m_grouppay {
  display: none;
}

.grouppay {
  &__recent {
    display: none;
    position: relative;
    padding: 0 10px 20px 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    animation: slideInFromBottom .3s $mdc-animation-standard-curve-timing-function;
  }

  &:hover {
    .grouppay__recent {
      display: grid;
    }
  }

  .user {
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-column-gap: 5px;
    color: $text-ongrey;
    font-size: 12px;
  }

  .pagination {
    display: none;
  }

  .element_avatar {
    a {
      display: flex;
      align-items: flex-start;
    }

    img {
      border-radius: 50%;
    }
  }

  .username {
    display: inline-block;
  }

  .nameicons {
    display: none;
  }
}
