@mixin with-count($n) {
  @if $n == 1 {
    &:first-child:nth-last-child(1) {
      @content;
    }
  } @else {
    &:first-child:nth-last-child(#{$n}),
    &:first-child:nth-last-child(#{$n}) ~ & {
      @content;
    }
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@mixin keyframes($animationName) {
  @keyframes #{$animationName} { @content; }
}

@keyframes fade-in-7 {
  0%   { opacity: 0; }
  100% { opacity: .7; }
}

@keyframes height-grow {
  from { transform: scaleY(0); }
  to { transform: scaleY(1); }
}

@keyframes fade-in-scale-up {
  0% {
    transform: scale(.7);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in-scale-up-to-90 {
  0% {
    transform: scale(.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: .9;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleInFromRight {
  from { width: 0; }
  to { width: 230px; }
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(15%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@mixin loading-fade-in($start: 0, $end: 10) {
  @for $i from $start through $end {
    &:nth-child(#{$i}) {
      animation-delay: $i * (.07s);
    }
  }
}

@keyframes background-loading-cycle {
  0% {
    background-color: $mdc-theme-primary;
  }

  100% {
    background-color: lighten($mdc-theme-primary, 3%);
  }
}
