$toolbar-height: 85px;
$toolbar-collapse-height: 60px;

$content-width: 1280px;
$content-padding: 15px;

$media-small-max: 720px;
$media-medium-min: $media-small-max + 1px;
$media-medium-max: 1280px;

$mdc-theme-primary: #202124;
$mdc-theme-secondary: #854feb;
// $mdc-theme-secondary: #d32f2f;
$mdc-theme-background: #fff;

$body-background-color: darken($mdc-theme-primary, 5%);

$mdc-theme-text-primary-on-background: #fff;

// -- Primary Module Coloring -- //
$module-border: 1px solid lighten($mdc-theme-primary, 2%);
$module-shadow: 0 0 4px 0 rgba(0, 0, 0, .45);
$module-margin: 10px;
$module-header-background: darken($mdc-theme-primary, 3%);
$module-body-background: tint($mdc-theme-primary, 2%);
$module-body-background-light: tint($mdc-theme-primary, 5%);

$text-ongrey: #dedede;
$color-white: #fff;

$class-death-knight: #c41f3b;
$class-demon-hunter: #a330c9;
$class-druid: #ff7d0a;
$class-hunter: #abd473;
$class-mage: #69ccf0;
$class-monk: #00ff96;
$class-paladin: #f58cba;
$class-priest: #fff;
$class-rogue: #fff569;
$class-shaman: #0070de;
$class-warlock: #9482c9;
$class-warrior: #c79c6e;

$item-artifact: #E5CC80;
$item-legendary: #ff8000;
$item-epic: #c600ff;
$item-rare: #198eff;
$item-uncommon: #1eff00;
$item-common: #fff;
$item-poor: #9d9d9d;
$item-blizzard: #0cf;
